@list-prefix-list: ~'app-list';

.@{list-prefix-list} {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  padding: 64px 12px 50px;

  &-item {
    width: calc(50% - 6px);

    > img {
      border-radius: 8px;
      width: 100%;
      height: calc((50vw - 18px) / 0.74);
    }

    > h3 {
      height: 24px;
      line-height: 24px;
      font-size: 14px;
      margin: 4px 0;
    }

    &-info {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 12px;
      color: #666;
    }
  }
}

